<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.0.1/dist/tailwind.min.css">
    {% block head_extra %}{% endblock %}
    <style>
        footer {
            position: fixed !important;
            bottom: 0 !important;
            width: 100%;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    {% block body %}
        <div>
            {% block content %}
            {% endblock %}
        </div>
    {% include 'footer.html' %}
    {% endblock %}
</body>
</html>